{%  extends 'PaveldacarAccountsKeeperBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Dépenses{% endblock %}

{% block body %}
    <h1>Dépenses - {{ month|capitalize }} {{ year }}</h1>
    <p>Cette page contiendra les dépenses effectuées au mois de {{ month }} {{ year }}.</p>
    <table>
        <tr>
            <th>Dépense</th>
            <th>Coût</th>
        </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.item }}</td>
                <td>{{ expense.cost|number_format(2, '.', ',') }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>TOTAL</strong></td>
            <td><strong>{{ total|number_format(2, '.', ',') }} €</strong></td>
        </tr>
    </table>
    <p><a href="{{ path('paveldacar_accounts_keeper_expense_add') }}">Ajouter une dépense.</a></p>
{% endblock %}
