{%  extends 'PaveldacarAccountsKeeperBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Dépenses{% endblock %}

{% block body %}
<h1>Dépenses - {{ month|capitalize }} {{ year }}</h1>
<p>Cette page contiendra les dépenses effectuées au mois de {{ month }} {{ year }}.</p>
<p><a href="{{ path('paveldacar_accounts_keeper_expense_add') }}">Ajouter une dépense.</a></p>
{% endblock %}
